{% extends "layout.html" %}
{% load widget_tweaks %}

{% block page_title %}
Features
{% endblock page_title %}

{% block contents %}

<div id="feature-list">
    <h1>All Features (Count of Features)</h1>
    <div>
        <button id="" type="button" class="btn btn-outline-info float-end" data-bs-toggle="modal"
            data-bs-target="#featureCreateModal">
            Create Feature


        </button>
    </div>
    <br />
    <br />
    <br />
    <br />

    <table class="table table-striped">
        <thead>
            <tr>
                <th colspan="10">Name</th>
                <th colspan="2">Total Feedback</th>
            </tr>
        </thead>
        <tbody hx-get="{% url 'feedback:feature-list' %}" hx-trigger="revealed">
        </tbody>
    </table>
</div>
<div class="modal fade" id="featureCreateModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="">Create Feature</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form hx-post="{% url 'feedback:feature-create' %}" method="POST" hx-target="#feature-list">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="name" class="form-label">name</label>
                        <input type="text" class="form-control" id="" name="name">
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary" hx-target="#feature-list"
                            data-bs-dismiss="modal">Create Feature</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer float-start">
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="feature_edit_modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="">Edit Feature</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="f-update-m-form" hx-target="#feature-list" method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="name" class="form-label">name</label>
                        <input type="text" class="form-control" id="f-update-m-name" name="name">
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" id="b-update-m-feature"
                            hx-target="#feature-list">Update
                            Feature</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer float-start">
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="add_tags_feature_modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="">Edit Tags</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="f-update-m-form" hx-target="#feature-list" method="POST">
                    {% csrf_token %}
                    <div mb-3>
                        <label for="name" class="form-label">Linked Feature</label>
                    </div>
                    <div class="form-group">
                        <label for="{{ form.tags.id_for_label }}">{{form.tag_ids.label}}</label>
                        {{form.tag_ids}}
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" id="b-update-m-feature"
                            hx-target="#feature-list">Update
                            Feature</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer float-start">
            </div>
        </div>
    </div>
</div>

<div id="modal" class="modal fade">
    <div id="dialog" class="modal-dialog" hx-target="this"></div>
</div>


{% endblock contents %}

{% block script %}
<script>
    $(function () {
        $('#modal').modal('toggle');
    });

    function updateTodoModal(name, action_url) {
        $("#f-update-m-name").val(name);
        $("#f-update-m-form").attr('action', action_url);
        // $("#b-update-m-feature").attr('hx-post', action_url);

    }
</script>
{% endblock script %}