<h1>{{header}} ({{count_data}})</h1>
<div>
    <button id="" type="button" class="btn btn-outline-info float-end" hx-get="{% url 'feedback:feature-create' %}"
        hx-target="#dialog">
        Create Feature
    </button>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="10" class="col-10">Name</th>
            <th colspan="2" class="col-2">Total Feedback
                {% if access_by == "index" %}
                {% if state == "asc" %}
                <a href="#" hx-get="{% url 'feedback:feature-list' 'desc' %}">Sort</a>
                {% else %}
                <a href="#" hx-get="{% url 'feedback:feature-list' 'asc' %}">Sort</a>
                {% endif %}
                {% elif access_by == "tag" %}
                {% if state == "asc" %}
                <a href="#" hx-get="{% url 'feedback:list-feature-by-tag' pk=id state='desc' %}">Sort</a>
                {% else %}
                <a href="#" hx-get="{% url 'feedback:list-feature-by-tag' pk=id state='asc' %}">Sort</a>
                {% endif %}
                {% elif access_by == "user" %}
                {% if state == "asc" %}
                <a href="#" hx-get="{% url 'feedback:list-feature-by-user' pk=id state='desc' %}">Sort</a>
                {% else %}
                <a href="#" hx-get="{% url 'feedback:list-feature-by-user' pk=id state='asc' %}">Sort</a>
                {% endif %}
                {% endif %}
            </th>
        </tr>
    </thead>
    <tbody>

        {% for feature in features %}
        <tr>
            <td colspan="10">
                {{feature.name}}
                {% for tag in feature.tag_ids.all %}
                <a href="{% url 'feedback:feature-by-tag' tag.id %}">[{{tag.name}}]</a>
                {% endfor %}
                (<button hx-get="{% url 'feedback:feature-update' feature.id %}" hx-target="#dialog"
                    class="unstyled-button">edit</button>)
                (+<button hx-get="{% url 'feedback:feature-tag-update' feature.id %}" hx-target="#dialog"
                    class="unstyled-button">tags</button>)
                (+<button hx-get="{% url 'feedback:feedback-create' feature.id %}" hx-target="#dialog"
                    class="unstyled-button">feedback</button>)
                </th>
            <td colspan="2">
                <a href="{% url 'feedback:feedback-by-feature' feature.id %}">{{feature.count_data}}</a>
            </td>

        </tr>
        {% endfor %}

    </tbody>
</table>