{% extends "layout.html" %}
{% load widget_tweaks %}

{% block page_title %}
Features
{% endblock page_title %}

{% block contents %}
<a href="{{ request.META.HTTP_REFERER }}">Back</a>
{% if access_by == "tag" %}
<div hx-get="{% url 'feedback:list-feature-by-tag' pk=id state=state %}" hx-trigger="load, featureListChanged from:body"
    hx-target="this">
</div>
{% elif access_by == "user" %}
<div hx-get="{% url 'feedback:list-feature-by-user' pk=id state=state %}"
    hx-trigger="load, featureListChanged from:body" hx-target="this">
</div>
{% else %}
<div hx-get="{% url 'feedback:feature-list' state %}" hx-trigger="load, featureListChanged from:body" hx-target="this">
</div>
{% endif %}


{% endblock contents %}