{% load static %}
{% load widget_tweaks %}
{% with WIDGET_ERROR_CLASS='is-invalid' %}
<form hx-post="{{ request.path }}" hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}' class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">{{header}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>

    <div class="modal-body">
        {% if not add_tag %}
        <div class="mb-3">
            <label for="{{ form.name.id_for_label }}" class="form-label">Name</label>
            {% render_field form.name class="form-control" placeholder="Feature name" %}
        </div>
        {% else %}
        <div class="mb-3">
            <label for="{{ form.name.id_for_label }}" class="form-label">Name</label>
            {% render_field form.name|append_attr:"readonly:readonly" class="form-control" placeholder="Feature name" %}
        </div>
        <div class="mb-3">
            <label for="{{ form.tag_ids.id_for_label }}" class="form-label">Tags</label>
            {% render_field form.tag_ids class="form-control widget-many2many-tags" placeholder="Tags" %}
        </div>
        {% endif %}
        <div class="mb-3 float-start">
            <button type="submit" class="btn btn-primary">{{button}}</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                Cancel
            </button>
        </div>
    </div>
</form>
{% endwith %}