{% extends 'base.html' %}

{% block header %}

<div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-secondary">
  <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start mt-3" id="menu">
      <li class="nav-item ">
        <a href="{%url 'feedback:features'%}" class="nav-link align-middle text-white px-0">
          <span class="ms-1 d-none d-sm-inline">Features</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="{%url 'feedback:tags'%}" class="nav-link align-middle text-white px-0">
          <span class="ms-1 d-none d-sm-inline">Tags</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="{%url 'feedback:users'%}" class="nav-link align-middle text-white px-0">
          <span class="ms-1 d-none d-sm-inline">Users</span>
        </a>
      </li>
    </ul>
    <hr>
  </div>
</div>

{% endblock %}