{% extends "layout.html" %}
{% load widget_tweaks %}

{% block page_title %}
Feedback
{% endblock page_title %}

{% block contents %}
<a href="{{ request.META.HTTP_REFERER }}">Back</a>
<div>
    <h1>Feedback for {{feature.name}} ({{count}})</h1>
    <div class="mb-3 mt-2">
        {% for tag in feature.tag_ids.all %}
        <a href="{% url 'feedback:feature-by-tag' tag.id %}">[{{tag.name}}]</a>
        {% endfor %}
    </div>

    {% for feedback in feedbacks %}
    <div class="card mb-2">
        <div class="card-body">
            <div>
                {{ feedback.description }}
            </div>
            <div>
                {{ feedback.user_id.name }} | {{ feedback.user_id.email }}
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock contents %}